<div class="row" id="translateForm">
    <div class="col-md-6 col-md-offset-3">
        <form id="transForm" class="form-inline well" submit="translateText(textToTranslate,language)">
            <md-radio-group  name="language" [(ngModel)]="language" (ngModelChange)="translateText(textToTranslate,$event)">
                <md-radio-button  *ngFor="let item of selectOption" [value]="item.value">
                    {{item.label}}
            </md-radio-button>
        </md-radio-group>
        <br>
        <br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input name="textToTranslate" class="mdl-textfield__input" (ngModelChange)="translateText($event,language)" [(ngModel)]="textToTranslate" type="text" placeholder="Enter a Word..." id="sample3">
            <!--<label class="mdl-textfield__label" for="sample3">Enter a Word...</label>-->
        </div>
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" (click)="translateText(textToTranslate,language)" value="Translate">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"  (click)="speak()"> <span class="glyphicon glyphicon-volume-up"></span>  </button>
    </form>
</div>
</div>
<div class="row" id="translateForm" *ngIf="translatedText && translatedText!=' '">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-inline well">
            <h2 class="text-success">{{translatedText}}</h2>
        </div>
    </div>      
</div>
